<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= render 'layouts/error_messages', resource: @book %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

      <%= render 'books/userinfo', user: current_user %>
      <%= render 'books/newbook', book: @books %>
    
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
              <br>
              <%= link_to @books.user.name, user_path(current_user) %>
            </td>
            <td><%= link_to @books.title %></td>
            <td><%= @books.opinion %></td>
            <% if user_signed_in? && current_user.id == @books.user_id %>
            <td><%= link_to "Edit", edit_book_path(@books.id) ,class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "Are you sure？" ,class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
